{
    "plugins": ["mocha"],

    "extends": "airbnb",

    "env": {
        "node": true,
        "mocha": true
    },

    "rules": {
        "arrow-body-style": [0],
        "indent": [2, 4, { "SwitchCase": 1 }],
        "space-before-function-paren": [2, "never"],
        "comma-dangle": [2, "never"],
        "import/no-extraneous-dependencies": 0,
        "mocha/no-exclusive-tests": 2,
        "mocha/no-skipped-tests": 2,
        "mocha/no-pending-tests": 2,
        "mocha/handle-done-callback": 2,
        "mocha/no-global-tests": 2,
        "mocha/no-sibling-hooks": 2,
        "mocha/no-hooks-for-single-case": 2,
        "mocha/no-top-level-hooks": 2,
        "mocha/no-identical-title": 2,
        "jsx-a11y/no-marquee": 0,
        "strict": [0, "global"]
    }
}
